# misc
.DS_Store
.cache/

# dependencies
node_modules

# build output
.astro/
.unlighthouse/
dist/
coverage/
playwright-report/
test-results/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# mine
.diff
.vale/
public/assets/fonts/
scripts/deploy.sh

# temp
src/content/then/
src/styles/