---
import { SITE_TITLE } from "~/consts";
---

<header class="header">
  <h1 class="header_title">
    <a class="header_title_inner" href="/">
      <span class="header_title_name">{SITE_TITLE}</span>
    </a>
  </h1>
</header>
