---
import { getCollection } from 'astro:content';
import PostListingLayout from '~/layouts/PostListingLayout.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import { fetchPosts } from '~/utilities/getPosts';
const entries = await fetchPosts({ collection: 'then' });
//const categories = [...new Set(entries.flatMap((post) => entry.data.categories))].sort();
---

<PostListingLayout>
  <ul class='layout_list' data-pagefind-ignore>
    {
      entries.flatMap((entry) => (
        <li class='layout_list_item'>
          <a href={`/${entry.slug}/`} class='layout_list_item_inner'>
            <div class='layout_list_item_meta'>
              <FormattedDate
                date={entry.data.publishDate}
                itemprop='datePublished'
              />
            </div>
            <h2 class='layout_list_item_title'>{entry.data.title}</h2>
            <div class='layout_list_item_summary'>{entry.data.excerpt}</div>
          </a>
        </li>
      ))
    }
  </ul>
</PostListingLayout>
<script is:inline>
  console.log('%c Over the seaside ', 'color: #ff7f50');
  console.log('%c I see my future drown in the sea ', 'color: #ff7f50');
  console.log('%c Driving on a coastal way ', 'color: #ff7f50');
  console.log("%c I'm getting away from this city ", 'color: #ff7f50');
  console.log(
    '%c 〈Coastal Night Out〉 by Land Of Peace (랜드오브피스) ',
    'background: #fafcd1;color: #ff7f50',
  );
</script>
