---
// 改用 Orama? ( https://github.com/oramasearch/orama )
import BaseLayout from '~/layouts/BaseLayout.astro'
import { isProd } from '~/consts'
// FIXME: 跑不出來
// import { PagefindUI } from '@pagefind/default-ui'
// import styles from '@pagefind/default-ui/css/ui.css'
const meta = {
  title: 'Search',
}
---

<BaseLayout meta={meta}>
  <script src='/pagefind/pagefind-ui.js' type='text/javascript' slot='meta'
  ></script>
  <link href='/pagefind/pagefind-ui.css' rel='stylesheet' slot='meta' />
  {
    isProd ? (
      <div class='search-container'>
        <div id='yan__search' class='pagefind_searchbar' aria-label='Search' />
      </div>
    ) : (
      <p>
        Search is only available in production builds. <br />
        Try building and previewing the site to test it out locally.
      </p>
    )
  }
  <script is:inline slot='footer'>
    window.addEventListener('DOMContentLoaded', (event) => {
      /* https://pagefind.app/docs/ui/ */
      new PagefindUI({
        element: '#yan__search',
        resetStyles: false,
        showSubResults: false,
      })
    })
  </script>
  <style is:global>
    :root {
      --pagefind-ui-font: inherit;
    }
  </style>
  <style>
    .search-container {
      margin-block-start: var(--size-3);
      margin-block-end: var(--size-6);
    }
    #yan__search {
      /* https://pagefind.app/docs/ui-usage/#customising-the-styles */
      --pagefind-ui-background: var(--yan-color-background-primary);
      --pagefind-ui-border: var(--yan-color-border);
      --pagefind-ui-border-width: 1px;
    }
  </style>
</BaseLayout>
<!-- @credits:
  - https://lirantal.com/blog/2023-01-01_-how_to_add_client-side_search_to_your_astro_blog_static_website/
  - https://github.com/chrismwilliams/astro-theme-cactus/blob/main/src/components/layout/Header.astro
-->
