<!--
@source: https://samwho.dev
- #4ba69d
- #a0d9d3
- #f29e38
- #f27405
- #bf4904
-->
<div class='bar'>
  <div class='segment'></div>
  <div class='segment'></div>
  <div class='segment'></div>
  <div class='segment'></div>
  <div class='segment'></div>
</div>
<style>
  .bar {
    display: flex;
  }

  .bar .segment {
    height: 0.7rem;
    flex-grow: 1;
  }

  .bar .segment:nth-child(1) {
    background-color: #4ba69d;
  }

  .bar .segment:nth-child(6) {
    background-color: #4ba69d;
  }

  .bar .segment:nth-child(2) {
    background-color: #a0d9d3;
  }

  .bar .segment:nth-child(7) {
    background-color: #a0d9d3;
  }

  .bar .segment:nth-child(3) {
    background-color: #f29e38;
  }

  .bar .segment:nth-child(8) {
    background-color: #f29e38;
  }

  .bar .segment:nth-child(4) {
    background-color: #f27405;
  }

  .bar .segment:nth-child(9) {
    background-color: #f27405;
  }

  .bar .segment:nth-child(5) {
    background-color: #bf4904;
  }

  .bar .segment:nth-child(10) {
    background-color: #bf4904;
  }
</style>
