---
import { SITE_DOMAIN, SITE_URL, copyrightYear } from '~/consts';
import Year from '~/components/Year.svelte';
let searchPageSlug = 'search';
let searchPageUrl = new URL(searchPageSlug, SITE_URL);
---

<footer class='site-footer' itemscope itemtype='https://schema.org/WPFooter'>
  <p class='creds' itemprop='copyrightNotice'>
    &copy;<span itemprop='copyrightYear'>
      <Year from={copyrightYear} /></span
    >&nbsp;<a href='/' class='footer-link' itemprop='url' rel='author'
      ><span translate='no' class='p-author h-card' itemprop='copyrightHolder'
        >{SITE_DOMAIN}</span
      ></a
    >.&nbsp;<a href={searchPageUrl} class='footer-link' itemprop='url'
      >/search</a
    >
  </p>
</footer>
