---
// import Navigation from './Navigation.astro'
import siteInfo, { feedUrls } from '../consts.ts'
import Year from './Year.svelte'
---

<footer class='site-foot' itemscope itemtype='https://schema.org/WPFooter'>
  <div class='legal'>
    <!-- © 2023-2024 example.com -->
    <div itemprop='copyrightNotice'>
      <span class='copy'>&copy;</span>
      <span class='year' itemprop='copyrightYear'>
        <Year from={siteInfo.copyrightYear} />
      </span>
      &nbsp;
      <a href='/' class='footer-link' itemprop='url' rel='author' data-testid='link'>
        <span translate='no' class='p-author h-card' itemprop='copyrightHolder'>
          {siteInfo.domain}
        </span>
      </a>
    </div><!-- /copyrightNotice -->
    <!--
    &nbsp;
    <a
      title='RSS Feed'
      class='rss-container'
      href={feedUrls.page}
      target='_blank'
      rel='noreferrer'
    >
      <span class='text-cap'>rss</span>
      <img
        class='rss'
        src='/assets/img/rss.svg'
        alt='RSS Feed Icon'
        title='RSS Feed Icon'
        loading='lazy'
      />
    </a>
    -->
  </div><!-- /legel -->
  <!-- <Navigation /> -->
</footer>
