<a class='skip-link' href='#main-content'>Skip to content</a>
<header class='site-header' itemscope itemtype='http://schema.org/WPHeader'>
  <nav class='site-navigation' aria-label='Header navigation'>
    <a
      class='site-head__brand p-name'
      href='/'
      aria-label='home'
      itemprop='headline name'
    >
      <span class='account'>@ink</span>
      <span class='text-green'>s</span>
      <span class='account'></span>afari</a
    >
  </nav>
</header>
