---

---

<a class='skip-link' href='#main-content'>Skip to content</a>
<header class='site-header' itemscope itemtype='http://schema.org/WPHeader'>
  <a
    class='site-head__brand p-name'
    href='/'
    aria-label='home'
    itemprop='headline name'
  >
    <h1>@ink<span class='text-green'>s</span>afari</h1>
  </a>
</header>
