---
// import Navigation from './Navigation.astro'
// <Navigation />
---

<a class='skip-link' href='#main-content'>Skip to content</a>
<header class='site-header' itemscope itemtype='http://schema.org/WPHeader'>
</header>
