---
import siteInfo from '../consts.ts'
import { removeTrailingSlash } from '../utilities/getPermaLink.js'
// @source: https://jonneal.dev/blog/better-elements-with-astro/
// TODO: 開啟VoiceOver測試
// https://www.aditus.io/patterns/multiple-navigation-landmarks/
// https://a11ysupport.io/tech/aria/aria-current_attribute
import NavigationLink from './NavigationLink.astro'

const searchPageSlug = 'search'
const searchPageLoc = new URL(searchPageSlug, siteInfo.siteBase)
const _searchPageUrl = removeTrailingSlash(searchPageLoc)
---

<nav id='footer-navigation' aria-label='Footer navigation'>
  <NavigationLink href='/colophon'>colophon</NavigationLink>
  <NavigationLink href='/now'>now</NavigationLink>
  <NavigationLink href={_searchPageUrl}>
    <span class='nav-text'>/search</span>
  </NavigationLink>
</nav>
