---
import NavigationLink from './NavigationLink.astro'
import siteInfo, { feedUrls } from '../consts.ts'
import { removeTrailingSlash } from '../utilities/getPermaLink.js'
// @source: https://jonneal.dev/blog/better-elements-with-astro/
// TODO: 開啟VoiceOver測試
// https://www.aditus.io/patterns/multiple-navigation-landmarks/
// https://a11ysupport.io/tech/aria/aria-current_attribute

const { class: className } = Astro.props
const searchPageRoute = 'search'
const searchPagePath = new URL(searchPageRoute, siteInfo.siteBase)
const searchPageUrl = removeTrailingSlash(searchPagePath)
const navClasses = ''
---

<!-- <nav id='footer-navigation' aria-label='Footer navigation'> -->
<nav
  id='site-navigation'
  class:list={[navClasses, className]}
  aria-label='Header navigation'
>
  <ul id='nav'>
    <li class='nav-item'>
      <NavigationLink href='/blog'>Home</NavigationLink>
    </li>
    <li class='nav-item'>
      <NavigationLink href='/now'>now</NavigationLink>
    </li>
    <li class='nav-item'>
      <NavigationLink href={feedUrls.page}>feed</NavigationLink>
    </li>
    <!--
    <li class='nav-item'>
      <NavigationLink href={searchPageUrl}>search</NavigationLink>
    </li>
    -->
  </ul>
</nav>
