---
import { Head } from 'astro-capo'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import siteInfo from '../consts.ts'
import '../styles/layout_base.js'
const { pageInfo } = Astro.props
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <Head>
    <BaseHead {pageInfo} />
    <meta
      name='robots'
      content='noindex, noimageindex, nofollow, noarchive, noai, noimageai'
    />
    <slot name='meta' />
  </Head>
  <body>
    <div class='container'>
      <Header />
      <main id='main-content'>
        <article class='h-entry'>
          <h1 class='entry-title p-name' itemprop='headline name'>
            {pageInfo.title}
          </h1>
          <div class='entry-content e-content heti generated'>
            <slot />
          </div>
        </article>
      </main>
      <Footer />
    </div><!-- .container -->
    <slot name='footer' />
  </body><!--範例：
<BaseLayout>
  <script src='/assets/exmaple.js' type='text/javascript' slot='meta' ></script>
</BaseLayout>
-->
</html>
