---
import { Head } from 'astro-capo'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
// import Hant from '../components/Hant.astro'
import siteInfo from '../consts.ts'
import '../styles/layout_base.js'
const { pageInfo } = Astro.props
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <Head>
    <BaseHead {pageInfo} />
    <meta
      name='robots'
      content='noindex, noimageindex, nofollow, noarchive, noai, noimageai'
    />
    <slot name='meta' />
  </Head>
  <body>
    <div class='container'>
      <main id='main-content' class='h-entry row'>
        <div class='col c-12'>
          <!--
        <header class='page-header'>
          <h1 class='page-title'>
            <span class='page-title-text'>{pageInfo.title}</span>
          </h1>
        </header>
        -->
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <slot name='footer' />
    <!-- <Hant /> or <Heti /> -->
  </body><!--範例：
<BaseLayout>
  <script src='/assets/exmaple.js' type='text/javascript' slot='meta' ></script>
</BaseLayout>
-->
</html>
