---
import '../styles/layout_page.js'
import BaseHead from '~/components/BaseHead.astro'
import Hant from '~/components/Hant.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { HTM_LANG } from '~/consts'
---

<!doctype html>
<html
  dir='ltr'
  lang={HTM_LANG}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <head>
    <BaseHead {...Astro.props} />
    <slot name='meta' />
  </head>
  <body
    itemscope
    itemtype='https://schema.org/WebPage https://schema.org/CollectionPage'
  >
    <Header />
    <main id='main-content'>
      <article class='h-entry'>
        <section class='page-header'>
          <h1 class='page-title p-name' itemprop='headline name'>
            <span class='page-title-text'>{Astro.props.title}</span>
          </h1>
        </section>
        <div class='markdown page-content e-content' itemprop='text'>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
    <Hant />
    <slot name='footer' />
  </body>
</html>
