---
import { Head } from 'astro-capo'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import siteInfo from '../consts.ts'
import '../styles/layout_page.js'
const { pageInfo } = Astro.props
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <Head>
    <BaseHead {pageInfo} />
    <meta
      name='robots'
      content='noindex, noimageindex, nofollow, noarchive, noai, noimageai'
    />
    <slot name='meta' />
  </Head>
  <body
    itemscope
    itemtype='https://schema.org/WebPage https://schema.org/CollectionPage'
  >
    <div class='container'>
      <Header />
      <main id='main-content'>
        <article class='h-entry'>
          <h1
            class='page-title p-name'
            itemprop='headline name'
            data-testid='heading'
          >
            {pageInfo.title}
          </h1>
          <div class='entry-content e-content heti generated' itemprop='text'>
            <slot />
          </div>
        </article>
      </main>
      <Footer />
    </div><!-- .container -->
    <slot name='footer' />
  </body>
</html>
