---
import { Head } from 'astro-capo'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import siteInfo from '../consts.ts'
import '../styles/layout_list.js'

const { pageInfo, currentPage } = Astro.props
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <Head>
    <BaseHead {pageInfo} />
    <slot name='meta' />
  </Head>

  <body
    class='h-feed'
    itemscope
    itemtype='https://schema.org/WebPage https://schema.org/CollectionPage'
  >
    <div class='container'>
      <Header />
      <main id='main-content'>
        <slot />
      </main>
    </div><!-- .container -->
    <slot name='footer' />
  </body>
</html>
