---
import { Head } from 'astro-capo'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
// import Hant from '../components/Hant.astro'
import siteInfo from '../consts.ts'
import '../styles/layout_list.js'

const { pageInfo, currentPage } = Astro.props
---

<!doctype html>
<html
  dir='ltr'
  lang={siteInfo.langFull}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <Head>
    <BaseHead {pageInfo} />
    <slot name='meta' />
  </Head>

  <body
    class='h-feed'
    itemscope
    itemtype='https://schema.org/WebPage https://schema.org/CollectionPage'
  >
    <div class='container'>
      <main id='main-content' class='row'>
        <div class='col c-12'>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <slot name='footer' />
    <!-- <Hant /> or <Heti /> -->
  </body>
</html>
