---
import BaseLayout from '~/layouts/BaseLayout.astro';
import BaseHead from '~/components/BaseHead.astro';
import GlobalStyles from '~/components/GlobalStyles.astro';
import Hant from '~/components/Hant.astro';
import { HTM_LANG, RSS_LANG } from '~/consts';
---

<!doctype html>
<html
  dir='ltr'
  lang={HTM_LANG}
  class='han-init'
  xmlns='http://www.w3.org/1999/xhtml'
  xml:lang={RSS_LANG}
  prefix='og: https://ogp.me/ns# article: https://ogp.me/ns/article# cc: http://creativecommons.org/ns#'
>
  <head>
    <BaseHead {...Astro.props} />
    <GlobalStyles />
    <slot name='meta' />
  </head>
  <body itemscope='' itemtype='https://schema.org/CollectionPage'>
    <BaseLayout>
      <Fragment slot='main'>
        <main
          class='layout h-feed hfeed'
          itemprop='mainEntity'
          itemscope=''
          itemtype='https://schema.org/DataFeed'
        >
          <slot />
        </main>
      </Fragment>
      <Hant />
    </BaseLayout>
  </body>
</html>
