---
import '../styles/layout_list.js'
import BaseHead from '~/components/BaseHead.astro'
import Hant from '~/components/Hant.astro'
import Bar from '~/components/Bar.astro'
import Footer from '~/components/Footer.astro'
import { siteOwner, SITE_TITLE, HTM_LANG } from '~/consts'
---

<!doctype html>
<html
  dir='ltr'
  lang={HTM_LANG}
  class='han-init'
  prefix='og: https://ogp.me/ns# website: https://ogp.me/ns/website# rdfs: http://www.w3.org/2000/01/rdf-schema#'
>
  <head>
    <BaseHead {...Astro.props} />
    <slot name='meta' />
  </head>
  <body
    class='h-feed'
    itemscope
    itemtype='https://schema.org/WebPage https://schema.org/CollectionPage'
  >
    <Bar />
    <div id='wrapper'>
      <header
        class='site-header'
        itemscope
        itemtype='http://schema.org/WPHeader'
      >
        <h1 class='site-title p-name' itemprop='headline name'>
          {SITE_TITLE}
        </h1>
        <p class='site-desc' itemprop='description text'>
          This site contains stuff and things from @{siteOwner.twitterHandle}.
        </p>
      </header>
      <slot />
      <Footer />
    </div>
    <Hant />
  </body>
</html>
