---
// WARNING: 還沒寫
import { Head } from 'astro-capo'
import BaseHead from '../components/BaseHead.astro'
import Hant from '../components/Hant.astro'
import siteInfo from '../consts.ts'
---

<!-- https://www.w3.org/TR/xhtml-rdfa/ --><!doctype html>
<html
  dir='rtl'
  lang={siteInfo.langFull}
  class='han-init'
  version='XHTML+RDFa 1.1'
  xmlns='http://www.w3.org/1999/xhtml'
  xml:lang={siteInfo.langFull}
  xmlns:og='https://ogp.me/ns#'
  xmlns:website='https://ogp.me/ns/website#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  xmlns:cc='https://creativecommons.org/ns#'
>
  <Head>
    <BaseHead {...Astro.props} />
    <slot name='meta' />
  </Head>
  <body>
    <slot name='main' />
    <Hant />
  </body><!--
  縱書（Tategaki）參考：
  https://tategaki.github.io/
  https://www.plusdesign.co.jp/blog/author193a5/54.html
  https://playtextdigitalarchive.com/
  https://tigeroakes.com/posts/rtl-tricks/
  https://github.com/dpublishing/epub3guide
-->
</html>
