---
// WARNING: 還沒寫
import BaseHead from '~/components/BaseHead.astro';
import { HTM_LANG, RSS_LANG } from '~/consts';
---

<!doctype html>
<html
  dir='rtl'
  lang={HTM_LANG}
  xmlns='http://www.w3.org/1999/xhtml'
  xml:lang={RSS_LANG}
  prefix='og: https://ogp.me/ns# article: https://ogp.me/ns/article# cc: http://creativecommons.org/ns#'
>
  <head>
    <BaseHead {...Astro.props} />
    <slot name='meta' />
  </head>
  <body>
    <slot name='main' />
  </body><!--
  縱書（Tategaki）參考：
  https://tategaki.github.io/
  https://www.plusdesign.co.jp/blog/author193a5/54.html
  https://playtextdigitalarchive.com/
  https://tigeroakes.com/posts/rtl-tricks/
-->
</html>
