---
// WARNING: 還沒寫
import BaseHead from '~/components/BaseHead.astro';
import Hant from '~/components/Hant.astro';
import { HTM_LANG, RSS_LANG } from '~/consts';
---
<!-- https://www.w3.org/TR/xhtml-rdfa/ -->
<!doctype html>
<html
  dir='rtl'
  lang={HTM_LANG}
  class='han-init'
  version='XHTML+RDFa 1.1'
  xmlns='http://www.w3.org/1999/xhtml'
  xml:lang={RSS_LANG}
  xmlns:og='https://ogp.me/ns#'
  xmlns:website='https://ogp.me/ns/website#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  xmlns:cc='https://creativecommons.org/ns#'
>
  <head>
    <BaseHead {...Astro.props} />
    <slot name='meta' />
  </head>
  <body>
    <slot name='main' />
    <Hant />
  </body><!--
  縱書（Tategaki）參考：
  https://tategaki.github.io/
  https://www.plusdesign.co.jp/blog/author193a5/54.html
  https://playtextdigitalarchive.com/
  https://tigeroakes.com/posts/rtl-tricks/
-->
</html>
