---
import PageLayout from '~/layouts/PageLayout.astro'
import { feedUrls } from '~/consts'

const pageInfo = {
  title: 'RSS Feeds',
}
---

<PageLayout {pageInfo}>
  <ul>
    <li>ATOM格式： <a href={feedUrls.atom}>feed.xml</a></li>
    <li>JSON格式： <a href={feedUrls.json}>feed.json</a></li>
  </ul>
</PageLayout>
<!-- @sources:
  https://github.com/MykalMachon/mykal.codes/tree/main/www/src/pages/feeds
  https://github.com/izmttk/astro-mecure/blob/main/src/pages/rss/feed.%5Bformat%5D.ts
-->
